<% title "Psalm 119" %>

<% content_for :actions do %>
  <span class="isolate inline-flex rounded-md shadow-sm text-xs font-medium">
    <button
        type="button"
        class="relative inline-flex items-center rounded-l-md px-2 py-2 ring-1 ring-inset focus:z-10"
        :class="translation == 'nasb' ? 'bg-sky-600 text-white ring-sky-600 hover:bg-sky-600' : 'bg-white text-gray-400 ring-gray-300 hover:bg-gray-50 dark:bg-slate-800 dark:ring-slate-600 dark:hover:bg-slate-700'"
        @click="translation = 'nasb'"
    >
      NASB
    </button>
    <button
        type="button"
        class="relative -ml-px inline-flex items-center px-2 py-2 ring-1 ring-inset focus:z-10"
        :class="translation == 'esv' ? 'bg-sky-600 text-white ring-sky-600 hover:bg-sky-600' : 'bg-white text-gray-400 ring-gray-300 hover:bg-gray-50 dark:bg-slate-800 dark:ring-slate-600 dark:hover:bg-slate-700'"
        @click="translation = 'esv'"
        >
        ESV
    </button>
      <button
          type="button"
        class="relative -ml-px inline-flex items-center rounded-r-md px-2 py-2 ring-1 ring-inset focus:z-10"
        :class="translation == 'kjv' ? 'bg-sky-600 text-white ring-sky-600 hover:bg-sky-600' : 'bg-white text-gray-400 ring-gray-300 hover:bg-gray-50 dark:bg-slate-800 dark:ring-slate-600 dark:hover:bg-slate-700'"
        @click="translation = 'kjv'"
        >
      KJV
    </button>
  </span>
<% end %>

<div class="space-y-8">
  <% @verses.each_with_index do |verses, i| %>
    <div>
      <h3 class="font-medium text-lg px-4 dark:text-slate-300"><%= VersesController::LETTERS[i] %></h3>
      <div class="divide-y dark:divide-slate-600">
        <% verses.each do |verse| %>
          <%= link_to verse, class: 'flex items-center p-4 group even:bg-gray-50 dark:even:bg-slate-800', data: {controller: 'verse-stats', verse_stats_number_value: verse.number} do %>
            <div class="flex items-start">
              <div>
                <div class="text-sm font-semibold">
                  <%= verse.number %>
                </div>
              </div>

              <div class="ml-4">
                <div x-show="translation == 'nasb'" class="text-sm"><%= verse.nasb %></div>
                <div x-show="translation == 'esv'" class="text-sm"><%= verse.esv %></div>
                <div x-show="translation == 'kjv'" class="text-sm"><%= verse.kjv %></div>
              </div>
            </div>
            <div class="ml-2">
              <svg class="w-4 h-4 text-gray-500 group-hover:text-gray-700 dark:text-slate-400 dark:group-hover:text-slate-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
