<% breadcrumb "All Verses", root_path %>
<% title "Psalm 119:#{@verse.number}" %>

<% content_for :actions do %>
  <span class="isolate inline-flex rounded-md shadow-sm">
    <%= link_to verse_path([@verse.number - 1, 1].max), class: 'relative inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10' do %>
      <span class="sr-only">Previous</span>
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
      </svg>
    <% end %>
    <%= link_to verse_path([@verse.number + 1, 176].min), class: 'relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10' do %>
      <span class="sr-only">Next</span>
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </span>
<% end %>

<div>
  <div class="border-b border-gray-200">
    <nav class="-mb-px flex space-x-4" aria-label="Tabs">
      <button
        @click="translation = 'nasb'"
        class="whitespace-nowrap border-b-2 py-4 px-2 text-sm font-medium"
        :class="translation == 'nasb' ? 'border-sky-500 text-sky-600' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'"
      >
        NASB95
      </button>
      <button
        @click="translation = 'esv'"
        class="whitespace-nowrap border-b-2 py-4 px-2 text-sm font-medium"
        :class="translation == 'esv' ? 'border-sky-500 text-sky-600' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'"
      >
        ESV
      </button>
      <button
        @click="translation = 'kjv'"
        class="whitespace-nowrap border-b-2 py-4 px-2 text-sm font-medium"
        :class="translation == 'kjv' ? 'border-sky-500 text-sky-600' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'"
      >
        KJV
      </button>
    </nav>
  </div>

  <div class="prose mt-4 bg-gray-100 rounded-md p-2 text-gray-700">
    <div x-show="translation == 'nasb'">
      <div><%= @verse.nasb %></div>
      <div class="inline-block border-t text-xs pr-2 text-gray-500">NASB95</div>
    </div>
    <div x-show="translation == 'esv'">
      <div><%= @verse.esv %></div>
      <div class="inline-block border-t text-sm pr-2 text-gray-500">ESV</div>
    </div>
    <div x-show="translation == 'kjv'">
      <div><%= @verse.kjv %></div>
      <div class="inline-block border-t text-sm pr-2 text-gray-500">KJV</div>
    </div>
  </div>
</div>

<div class="mt-4 space-y-8">
  <% @commentaries.each do |commentary| %>
    <div class="relative" x-data="{open: false}">
      <button @click="open = !open" class="flex w-full items-center justify-between group">
        <h3 class="text-lg font-medium tracking-tight text-left">
          <% commentary.source.split(' - ').each do |line| %>
            <div><%= line %></div>
          <% end %>
        </h3>

        <div class="text-gray-400 group-hover:text-gray-600">
          <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>

          <svg x-show="open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
          </svg>
        </div>
      </button>

      <div @click="open = true" :class="{'h-32 overflow-hidden cursor-pointer': !open}" class="mt-1 prose"><%= simple_format commentary.body %></div>

      <div class="absolute inset-x-0 bottom-0 h-8 bg-gradient-to-b from-transparent from-10% to-white"></div>
    </div>
  <% end %>
</div>
