<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" href="<%= image_url "psalm119-app-icon.png" %>">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="dark:bg-slate-900 dark:text-slate-400" x-data="{translation: $persist('<%= default_translation %>')}">
    <div class="py-8 px-4 max-w-md mx-auto">
      <header class="bg-white sticky top-0 py-4 z-10 dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div>
            <%= yield :breadcrumb %>
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight dark:text-slate-200"><%= yield :page_heading %></h2>
          </div>

          <div>
            <%= yield :actions %>
          </div>
        </div>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer class="mt-12 text-center text-xs text-gray-400 dark:text-slate-500">
        <div>
          <%= pluralize Ahoy::Visit.count, 'vistor' %> and <%= pluralize Ahoy::Event.where(name: '$verse').count, 'verse' %> viewed since Oct 5, 2023.
        </div>

        <div class="mt-4 max-w-[12rem] mx-auto">
          Most popular verses this week.

          <ol class="mt-2 space-y-1">
            <% popular_verses.each do |verse| %>
              <li class="flex justify-between">
                <%= link_to "Verse #{verse.verse}", verse_path(verse.verse), class: 'text-sky-500 hover:text-sky-600 hover:underline dark:hover:text-sky-400' %>
                <span><%= pluralize verse.count, 'view' %></span>
              </li>
            <% end %>
          </ol>
        </div>
      </footer>
    </div>
  </body>
</html>
