<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" href="<%= image_url "psalm119-app-icon.png" %>">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="py-8 px-4 max-w-md mx-auto">
      <div class="bg-white sticky top-0 py-4">
        <div class="flex items-center justify-between">
          <div>
            <%= yield :breadcrumb %>
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= yield :page_heading %></h2>
          </div>

          <div>
            <%= yield :actions %>
          </div>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
